# Usage:
#   docker compose up --build

services:
  build-stage:
    build:
      context: .
      dockerfile: Dockerfile
      target: builder
    restart: "no"

  postgres:
    image: postgres:18
    environment:
      POSTGRES_USER: postgres
      POSTGRES_PASSWORD: postgres
      POSTGRES_DB: portfolio
    ports:
      - "5432:5432"
    volumes:
      - postgres_data:/var/lib/postgresql
    depends_on:
      build-stage:
        condition: service_completed_successfully

  tests-stage:
    build:
      context: .
      dockerfile: Dockerfile
      target: tests
    depends_on:
      postgres:
        condition: service_started
    working_dir: /workspace
    volumes:
      - ./TestResults:/artifacts/TestResults
    environment:
      - DOTNET_RUNNING_IN_CONTAINER=true
      - DOTNET_CLI_TELEMETRY_OPTOUT=1
      - ASPNETCORE_ENVIRONMENT=Development
      - DOCKER_DOTNET_TEST=true
    restart: "no"

  publish-stage:
    build:
      context: .
      dockerfile: Dockerfile
      target: publish
    depends_on:
      tests-stage:
        condition: service_completed_successfully
    environment:
      - ASPNETCORE_ENVIRONMENT=Production
    restart: no

  nuget-exporter:
    build:
      context: .
      dockerfile: Dockerfile
      target: exporter
    depends_on:
      publish-stage:
        condition: service_completed_successfully
    volumes:
      - E:/LocalNuget:/nuget
    restart: "no"

volumes:
  postgres_data:
